@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------------header section-----------------------------------------*/

.bg-color-name-title {
    background: url(../images/start-book-club.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;

}

.name {
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: white;

}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

.menuitem {
    padding: 0;
    background-color: #090e15a7;
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
}

.menuitem a i {
    padding: 2px;
    display: block;
    color: #fafafa;
    font-size: 26px;
    text-align: center;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 3px;
}

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
  
}


.menucontainer {
    font-size: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.list-inline-item:not(:last-child) {
    margin: 0px;
}




/* end of header section------------------------------*/




/*-----------------------About section---------------------------------*/


.about-heading{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.about-container{
    padding-top: 50px;
}

.about-body{
  
   font-size: 20px;
   margin-left: 2px;
   margin-right: 2px;
   padding: 10px;

}



/*-----------------------end of about section---------------------------------*/




/*-----------------------features section---------------------------------*/

.features-container {
   background-color: #82989ab4;
   min-height: 40px;
   font-size: 20px;
   margin-left: 2px;
   margin-right: 2px;
   padding-top: 50px;
}

.feature-heading{
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;

}

.block-divider--black{
    background-color: #0f0e0d;
}


.feature-body {
    float: left;
}


/*-----------------------end of features section---------------------------------*/

/*-------------------------footer section----------------------------------------*/

footer {
    height: 1px;
    background-color: #777777;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
    
}

.social-networks i {
    font-size: 200%;
    margin: 10px;
    padding: 5%;
    color: rgb(95, 66, 114);
    
}

.social-networks li a i:hover {

    background-color: #f84610;
    border-radius: 10px;
}

#footer-details {
    padding: 10px;
}

/*-----------------------------end of footer section------------------------------------------*/

/*----------------------------------------books------------------------------------------------*/

.books-container {

margin-top: 50px;
margin-bottom: 35px;
padding-left: 10px;
padding-right: 10px;

}
.book-list{
    padding-top: 30px;
}

.book-list-body {
    
    border: 1px solid;
    border-color: #777777;
}

/*--------------------quotes section------------------------------*/

.page-header{
margin-bottom: 0px;
border-bottom: 0px;
text-align: center;
}



.page-header h2{
    margin-top: 0;
}

.content-container{
    padding-top: 50px;
    padding-bottom: 75px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}


.quotes .page-header{
    margin-bottom: 25px;
}

.block-divider{
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange{
    background-color: #f75904;
}


.rounded-circle {
    height: 100px;
    width: 100px;
}

.media-body {
    padding-left: 5px;
    padding-right: 8px;
}

/*-----------------------end of quotes section---------------------------------*/

/*---------------------------events section-------------------------------------*/

.events-heading{
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}


.events-list{
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
    font-size: 20px;
    font-weight: 350;
}




/*---------------------------------end of events section------------------------------------*/




/*------------------------form section---------------------------*/

.contact-container {
    margin-top: 20px;
    margin-left: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}



.form-section {
    clear: left;
    background: url("../images/03-young-woman-reading-book-on-stool.jpg");
    background-size: cover;
    background-position: center;
    height: 1050px;
}

.signup-form{
    margin-top: 50px;
    color: #fff;
    background-color: rgba(60,60,60,0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input{
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover{
  border-color: #f16c6b;
}

.join-button{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}

.join-button:hover{
  background-color: #fafafa;
  color: #f16c6b;
}

/*end of form section---------------*/

/*---------------------------recycle section-------------------------------*/

.recycle-container {

    padding-top: 25px;
    background-color: #b8b1b1;
    padding-bottom: 25px;
}

h3{

padding: 2px;
margin: 0 auto;
font-size: 1.5em;

}

h5{
padding-top: 5px;

}
    